@font-face {
    font-family:"Lemon-Regular";
    src: url("font/Lemon-Regular.ttf");
}
@font-face {
    font-family:"OpenSans-Bold";
    src: url("font/OpenSans-Bold.ttf");
}
@font-face {
    font-family:"OpenSans-SemiBold";
    src: url("font/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family:"OpenSans-Regular";
    src: url("font/OpenSans-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px;
}
.logo h2{
    font-family:"Lemon-Regular";
    font-weight: 400;
    font-size: 16px;
    color: #ef5e41;
}
#nav-items{
    display: flex;
    align-items: center;
}
#nav-items li{
    font-family:"OpenSans-SemiBold";
    font-weight: 600;
    font-size: 18px;
    list-style: none;
    margin-left: 100px;
    text-transform: capitalize;  
    cursor: pointer;
}
.active{
    color: #ef5e41;
}
.hero-section{
    background-image: url("img/BG.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero-section h1{
    font-family:"Lemon-Regular";
    font-weight: 400;
    font-size: 64px;
    width: 400px;
    text-transform: capitalize;
}
span{
    color: #ef5e41;
}
.hero-section p{
    font-family:"OpenSans-Regular";
    font-weight: 400;
    font-size: 18px;
    width: 309px;
    padding: 30px 0px;
}
.hero-section button{
    font-family:"OpenSans-Bold";
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    width: 135px;
    height: 65px;
    border-radius: 50px 0px 50px 0px;
    background-color: #ef5e41;
    border: none;
}